html, body{
    	margin:0;
    	padding:0;
}
* {
    box-sizing: border-box;     
}
.txt {         
    padding: 0.01em 0.01em;
    font-family:"GunnyRewritten";
}
.header
{
	display:flex;
	background-color: #5890FF;
	justify-content: flex-start;
	align-items:center;	
	width:100%;
}
.strip
{
	width:100%;
	display: flex;
	flex-direction:column;
	align-items: center;
}
.logo 
{
	width: 10%;
	margin-right: 2%;
}
.nameOfprogram
{
	font-size: 6vmin;
}
.filter 
{
	margin:auto;
	margin-top:0.5%;
	margin-bottom:0.5%;
	width:20%;
}
.filter input
{
	font-size: 3vmin;
}
.filter input
{
	width:100%;
	height:100%;	
	text-align: center;
}
.layout-post
{
	position:relative;
	width: 35%;
	margin-bottom: 2em;
}
.above-the-photo
{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height:100%;
	background-color: #E9EBEE;
	width:100%;
}
.above-the-photo .txt
{
	font-size: 3vmin;
}
.above:nth-child(2)
{
	width:70%;
}
.above:last-child
{
	width:15%;
}
.athor
{
	width:1%;
	width:5vmin;
	height:5vmin;
	border-radius: 50%;
	
}
.under-the-photo
{
	display: flex;
	justify-content: space-around;
	background-color: #F2F3F5;
	align-items:center;
	width:100%;
    height:100%;
}
.pen
{
	position: absolute;
	top: 7vmin;
  	right: 2vmin;
	z-index:2;
	width:4vmin;
	height:4vmin;
	border-radius: 50%;
}
.rubbish
{
	position: absolute;
	top: 12vmin;
  	right: 2vmin;
	z-index:2;
	width:4vmin;
	height:4vmin;
	border-radius: 20%;
}
.picture img
{
	display:block;
	width:100%;
	height:100%;
}
.blike,.bcomment
{
	width:4vmin;
	height: 5vmin;
}
.counter
{
	font-size: 4vmin;
	overflow: hidden;
	max-height:6vmin;
	width:60%;	
}

.info
{
	background-color: #E9EBEE;
	max-height:35vmin;
	overflow:hidden;
	font-size: 3vmin;
	width:100%;
}
.layout-menu
{	
	z-index:3;
	position:fixed;
	bottom:0px;
	right:0px;
	left:0px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color: #5890FF;
	padding:1%;
	height:10%;
}
.elOfmenu
{
	text-align: center;
}
.tape,.log,.plus
{
	width: 13%;
	height: 13%;
}
.download
{
	position:absolute;
	left:10%;
}
.buttonDownload
{
	width:5%;
	height:5%;
}
footer
{
	position:fixed;
	bottom:20%;
	right:0px;
	left:0px;
	font-size: 3vmin;
}
@font-face {
font-family: 'GunnyRewritten'; 
src:url('fonts/gunnyrewritten.woff') format("woff"); 
font-style:normal; 
font-weight:normal; 
}
